* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }

header {
    padding: 0 70px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.nav {
    display: flex;
    justify-content: center;
    align-content: center;
    list-style-type: none;
    gap: 60px;
}

.nav li a {
  text-decoration: none;
}

div {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 60px;
  margin: 60px;
}

.home {
  background-color: aliceblue;
}

.about {
  background-color: azure;
}

.services {
  background-color: aqua;
}

.contact {
  background-color: aquamarine;
}

.closing {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: grey;
  padding: 20px;
  margin-bottom: 10px;
}