* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Consolas;
    /* height: 100%; */
    
}

.nav ul {
    width: 500px;
    margin: 0;
    list-style: none; 
    /* gap: 1rem; */
}

.nav a {
    font-size: 25px;
    text-decoration: none;
    color: #777;
    
}

.nav li {
    padding: 8px 8px;
}

.nav li.active {
    background-color: #61DBFB;
    opacity: 50%;
    
    border-radius: 20px;
}

.nav li:hover {
    background-color: #61dcfb81;;
    border-radius: 20px;
}


