.body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 50px;
    padding-top: 70px;
}

.navbar {
    position: absolute;
    padding: 20px;
}

